<head>
  <link rel="stylesheet" type="text/css" href="css/semantic/dist/semantic.min.css">
  <link rel="stylesheet" type="text/css" href="css/application.css">
  <script
    src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous"></script>
  <script src="css/semantic/dist/semantic.min.js"></script>
  <style type="text/css">
    img{width: 100%;}
  </style>
</head>

<body>
  <!-- HEADER -->
  <div class="ui large top fixed hidden menu">
    <div class="ui container">
      <a href="index.html" class="item">Home</a>
      <a href="history.html" class="item">About Carillons</a>
      <a href="open.html" class="item">Sample Library</a>
      <a href="jurors.html" class="item">Jurors</a>
      <a href="contact.html" class="item">Contact</a>
      <a href="sponsors.html" class="item">Sponsors</a>
      <a href="winners.html" class="active right item">Winners</a>
    </div>
  </div>
  <!-- END OF HEADER -->
  </div>
  <div id="cushion"></div>
  <div class="ui container grid">



		Berkeley Center for New Media | <a href="http://bcnm.berkeley.edu">bcnm.berkeley.edu</a>
		<h1 class="ui header">Announcing the Winners of Hack the Bells</h1>

		<p>
		BERKELEY, CA 11/13/2014 &mdash; Winners of Hack the Bells, the first international carillon remix competition, have been selected. Rama Gottfried, a PhD candidate at UC Berkeley in Music, received first place, with his proposal "Harmonize Place."" His work will be acquired by the Berkeley and Anton Brees collection and he will be awarded a $700 grand prize. Monica Hansel, a fiber artist, and Linda Pointer, a professor and carilloneur, received honorable mentions for their respective works "Wave" and "Theater Piece for Berkeley" and will each receive $100. <br><br><em class="centered"> All works are freely licensed under the Creative Commons Share-Alike 4.0 license. </em>
		</p>
		<p>
		Gottfried's proposal seeks to transform the campanile from a historical monument of power and an institutional broadcast system to a democratized form of communication and catalyst for reflection by harmonizing the campanile with its environment. Gottfried will install omni-directional microphones at pre-announced listening locations throughout the Berkeley campus and will create a computer program that will analyze the sounds registered for time and frequency. This information will be converted into musical content and transmitted to the campanile where a carillonneur will play the incoming score. For a brief period of time, the carillon will become responsive to its surroundings.
		</p>
		<hr>
		<div class="row">
		          
		<div class="card fluid">  
			<div class="image"> 	       
				<img src="public/gottfried.png">  
			</div>
			<div class="content">
				<div class="description">
				Rama Gottfried. <em>Harmonize [Place] </em>(2014).  <br/>  
				Carillon, microphones, and site-specific analysis and realtime score generation <br/>
				<span class='cc'>CC BY -SA 4.0        </span>
				</div>
			</div>

		</div>

		<div class="ui header segment raised"> 
		  <blockquote class="ui testimonial">"[Gottfried's] proposal combines the specificity of the campanile with the specificity of the moment and the listener. This proposal not only celebrates the centennial of the Campanile but also makes the Campanile celebrate it's place and time."<br>- Lizzy Jongma 
		  </blockquote>
		</div>

		              
		<hr>
		            

		<p>
		Jurors for <em>Hack the Bells</em> included Jeff Davis, UC Berkeley University Carillonist; Alex Freeman, Director of Special Projects at the New Media Consortium; Lizzy Jongma, Data Manager at the Rijksmuseum Amsterdam; Susan Miller, Program Manager of the Consortium for Interdisciplinary Research at UC Berkeley; Greg Niemeyer, Director of the UC Berkeley Center for New Media; and Frank Steijns, carillonneur at Maastricht, Weert, and Heerlen, The Netherlands.
		</p>


		<p>
		<em>Hack the Bells</em> is a program devised Sarah Stierch, as part of her 2014 Susan Miller Fellowship at the UC Berkeley Center for New Media. The Susan Miller Fellowship is funded by Meyer Sound to support the work of a practitioner or academic who is making a significant contribution to promoting the advancement of women in the field of new media, as well as fostering engagement, excellence, and new perspectives in this emerging discipline.
		</p>
		<p>
		Fascinated by Sather Tower at UC Berkeley, Sarah connected with Tiffany Ng, a PhD candidate in Musicology with a Designated Emphasis in New Media, to develop the competition. Cesar Torres, a PhD student in Computer Science with a Designated Emphasis in New Media, joined the team to help build an online platform for the project.
		</p>
		<p>
		<em>Hack the Bells</em> is sponsored by the Berkeley Center for New Media, the Anton Brees Carillon Library, Meyer Sound, the Open Knowledge Foundation's OpenGLAM initiative, the Guild of Carillonneurs in North America, and the Hargrove Music Library at UC Berkeley.
		</p>

		<hr>

		<!-- 
		<div class="row">
		<div class="col-xs-3">          
		     <%= image_tag "/hansel.jpg"%>
		Monica Bonadies Hansel. <em> Wave</em> (2014) <br/>
		Yarn, sound wave.  <br/>
		<span class='cc'>CC BY -SA 4.0</span>
		</div>


		<div class="col-xs-3">
		<%= image_tag "/pointer.jpg"%>
		Linda Pointer.  <em>Theater Piece for Berkeley </em>(2014). <br/>
		Performance, book, scarf, candles, bouquet <br/>
		<span class='cc'>CC BY -SA 4.0</span>
		</div>

		<div class="col-xs-6">   <br>
		<%= audio_tag("/Cooper_Moral_Center.mp3", autoplay: false, controls: true) %>
		<br>
		<br>
		David Cooper.  <em> Moral Center</em> (2014). <br/>
		Audio recording (3:22) <br/>
		<span class='cc'>CC BY -SA 4.0</span>
		</div> -->

		<div class="row">
			<p class="centered">For more information, please contact Sarah Stierch at <a href="mailto:sarah@sarahstierch.com">sarah@sarahstierch.com</a></p>
		</div>





    <!-- END OF CONTENT -->
  </div>
  <div id="cushion"></div>

</body>








      



